.Rules {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  animation: AnimeRules 100ms ease-in;
}

@keyframes AnimeRules {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Rules h3 {
  font-size: 1rem;
}
.Rules p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--dark-blue);
}
